// colors:
$colorWhite: #fff;
$colorBlack: #000;
$colorLightGrey: #f5f5f5;
$colorLightGreen: #9c9;
$colorMintGreen: #396;
$colorDarkGreen: #063;
$colorMediumGrey: #eee;
$colorDarkGrey: #ccc;
$colorDarkerGrey: #666;
$colorBlue: #036;
$colorDarkBlue: #033;
