@import url(http://fonts.googleapis.com/css?family=Aclonica);
@import url(http://fonts.googleapis.com/css?family=Electrolize);

$fontBase: arial, sans-serif;
$fontSerif: 'Aclonica', serif;
$fontSansSerif: 'Electrolize', sans-serif;
