.nav-primary {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center;

  ul {
    display: inline-block;
    text-align: right;
    width: 55%;
    margin: auto;
    li {
      display: inline-block;
      margin: 0 20px 0 60px;
      a {
        color: $colorWhite;
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 1px;

        &:hover, &:active {
            color: $colorLightGreen;
        }
      }
    }
  }
}

.nav-secondary {
  display: block;
  max-width: 300px;
  margin: 30px auto;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }

  .edit-btn, .submit-btn {
    display: none;
  }

  .preview-mode & {
    .edit-btn, .submit-btn {
      display: block;
    }
    .preview-btn {
      display: none;
    }
  }
}

