{% extends "base.html" %}

{% block content %}
{% if error %}
<p style="color:#f00">Incorrect fields, douchebag....</p>
{% endif %}

<form method="post" action="/create">
    <div class="input-container">
    	<input type="text" name="title" value="{{ input.title }}" placeholder="Title">

    	<fieldset class="spinner" id="yearWrapper">
            <button class="inc" type="button" data-role="add" data-undorole="sub">+</button>
            <input type="text" name="year" value="{{ input.year }}" maxlength="4" pattern"\d*" data-validate="year" />
            <span class="placeholder">YYYY</span>
            <button class="dec" type="button" data-role="sub" data-undorole="add">-</button>
        </fieldset><fieldset class="spinner" id="monthWrapper">
            <button class="inc" type="button" data-role="add" data-undorole="sub">+</button>
            <input type="text" name="month" value="{{ input.month }}" maxlength="2" pattern"\d*" data-validate="month" />
            <span class="placeholder">MM</span>
            <button class="dec" type="button" data-role="sub" data-undorole="add">-</button>
        </fieldset><fieldset class="spinner" id="dayWrapper">
            <button class="inc" type="button" data-role="add" data-undorole="sub">+</button>
            <input type="text" name="day" value="{{ input.day }}" maxlength="2" pattern"\d*" data-validate="day" />
            <span class="placeholder">DD</span>
            <button class="dec" type="button" data-role="sub" data-undorole="add">-</button>
        </fieldset>

        <fieldset class="spinner" id="hourWrapper">
            <button class="inc" type="button" data-role="add" data-undorole="sub">+</button>
            <input type="text" name="hour" value="{{ input.hour }}" maxlength="2" pattern"\d*" data-validate="hour" />
            <span class="placeholder">HH</span>
            <button class="dec" type="button" data-role="sub" data-undorole="add">-</button>
        </fieldset><fieldset class="spinner" id="minuteWrapper">
            <button class="inc" type="button" data-role="add" data-undorole="sub">+</button>
            <input type="text" name="minute" value="{{ input.minute }}" maxlength="2" pattern"\d*" data-validate="minute" />
            <span class="placeholder">MM</span>
            <button class="dec" type="button" data-role="sub" data-undorole="add">-</button>
        </fieldset><fieldset>
            <button type="button" class="show-preview preview-btn" >next <i class="icon-arrow-right"></i></button>
        </fieldset>

	</div>
	<div class="countdown-container" style="display: none;">
	    <div class="countdown">
            <div class="info-unit" data-insert="title"></div>
            <div class="cd-unit large" data-insert="days">
                <div class="cd-number"></div>
                <div class="cd-label"></div>
            </div>
            <div class="cd-unit" data-insert="hours">
                <div class="cd-number"></div>
                <div class="cd-label"></div>
            </div>
            <div class="cd-unit" data-insert="minutes">
                <div class="cd-number"></div>
                <div class="cd-label"></div>
            </div>
            <div class="cd-unit" data-insert="seconds">
                <div class="cd-number"></div>
                <div class="cd-label"></div>
            </div>
        </div>
    </div>
    <div class="nav-secondary">
        <button type="button" class="show-edit edit-btn left"><i class="icon-arrow-left"></i><span>back</span></button>
        <!--<button type="button" class="show-preview preview-btn right" >preview</button>-->
        <button type="submit" class="submit-btn right"><i class="icon-save"></i><span>save</span></button>
    </div>
</form>




{% endblock %}
