<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
	<head>
		<title>Countdown Creator 2.0</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1.0">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	</head>
	<body>
		<header class="header">
			<nav class="nav-primary">
				<h1><a href="{{ url_for('route_to_index') }}">The Countdown Creator</a></h1>
				<ul>
					<li><a href="{{ url_for('route_to_index') }}">Home</a></li>
					<li><a href="{{ url_for('route_to_create') }}">Create</a></li>
				</ul>
			</nav>
		</header>
		<div class="main">
			{% block content %}{% endblock %}
		</div>
		<footer class="footer">
			<span>&copy; 2013 - created by Anne Fleischer</span>
			<span class="right"><a href="mailto:anneflydev@gmail.com">contact me</a></span>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
		<script src="{{ url_for('static', filename='js/app.js')}}"></script>
	</body>
</html>
