@media screen and (max-width: "767px") {
  .header {
    height: 72px;
    margin: 0;
    h1 {
      float: none;
      width: 100%;
      text-align: left;
      line-height: 36px;
    }
  }

  .nav-primary {
    ul {
      width: 100%;

      li {
        display: inline-block;
        margin: 0 0 0 15%;

        a { line-height: 36px; }
      }
    }
  }

  .footer {
    position: static;
  }

  .countdown {
    .cd-unit {
      min-width: 100px;

      &.large {
        min-width: 100px;
        max-width: 140px;
      }
    }

    .info-unit {
      margin: 10px auto 20px auto;
    }

    .cd-number {
      font-size: 50px;
    }
  }

  .input-container {

    input {
      display: block;
      width: 94%;
      background: $colorWhite;
      border: 1px solid $colorMintGreen;
      height: 26px;
      padding: 2%;
      outline: none;
      margin: 1%;
    }

    fieldset {

      input {
        float: none;
        width: 84%;
        padding: 8%;
        margin: -2px 0;
        text-align: right;
        border-top: none;
        border-bottom: none;
        font-size: 16px;
      }

      .placeholder {
        color: $colorDarkGrey;
        margin-top: -6px;
        position: absolute;
        font-size: 12px;
      }

      &.spinner {
        button {
          width: 100%;
          padding: 0;
          float: none;
          border: 1px solid $colorMintGreen;
          background: $colorMintGreen;
          color: $colorWhite;
          font-size: 16px;
          line-height: 36px;
          @include border-radius(0);
          &:active {
            background: $colorDarkGreen;
            border-color: $colorDarkGreen;
          }
          &:first-child {
          border-bottom: 1px solid $colorMintGreen;
        }
        }
      }
      .preview-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
      }
    }
  }

  .create-success {
    h2 {
      font-size: 24px;
      margin-bottom:30px;
    }
    .button {
      font-size: 18px;
      padding: 10px;
    }
  }
}