@import url(http://fonts.googleapis.com/css?family=Aclonica);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: arial, sans-serif;
  height: 100%;
  position: relative; }

div {
  display: block; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none; }

.clear {
  display: block;
  clear: both; }

.header {
  height: 50px;
  background: #339966;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #339966), color-stop(100%, #006633));
  background: -webkit-linear-gradient(#339966, #006633);
  background: -moz-linear-gradient(#339966, #006633);
  background: -o-linear-gradient(#339966, #006633);
  background: linear-gradient(#339966, #006633);
  margin: 0 0 20px 0; }
  .header h1 {
    text-align: left;
    display: inline-block;
    float: left;
    color: white;
    font-size: 20px;
    line-height: 60px;
    width: 45%;
    margin: auto;
    font-family: "Electrolize", sans-serif;
    text-shadow: 2px 2px 4px black; }
    .header h1 a {
      color: inherit; }

.main {
  position: relative;
  display: block;
  max-width: 900px;
  width: 95%;
  margin: auto;
  min-height: 300px;
  padding-top: 27px;
  text-align: center; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  padding: 20px;
  border-top: 1px solid #cccccc;
  background: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#eeeeee, #cccccc);
  background: -moz-linear-gradient(#eeeeee, #cccccc);
  background: -o-linear-gradient(#eeeeee, #cccccc);
  background: linear-gradient(#eeeeee, #cccccc);
  text-align: center; }
  .footer span {
    display: inline-block;
    width: 49%;
    margin: auto;
    font-size: 10px;
    color: #666666;
    text-shadow: 1px 1px white;
    text-align: left; }
    .footer span.right {
      text-align: right; }
    .footer span a {
      color: inherit; }

.invalid {
  border: 1px solid red; }

.nav-primary {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center; }
  .nav-primary ul {
    display: inline-block;
    text-align: right;
    width: 55%;
    margin: auto; }
    .nav-primary ul li {
      display: inline-block;
      margin: 0 20px 0 60px; }
      .nav-primary ul li a {
        color: white;
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 1px; }
        .nav-primary ul li a:hover, .nav-primary ul li a:active {
          color: #99cc99; }

.nav-secondary {
  display: block;
  max-width: 300px;
  margin: 30px auto; }
  .nav-secondary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .nav-secondary .left {
    float: left; }
  .nav-secondary .right {
    float: right; }

.input-container input {
  display: block;
  width: 94%;
  background: white;
  border: 1px solid #339966;
  height: 26px;
  padding: 2%;
  outline: none;
  margin: 1%;
  font-size: 20px; }
.input-container fieldset {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 31.3%;
  margin: 10px 1%; }
  .input-container fieldset input {
    width: 60%;
    padding: 18px;
    margin: 0;
    text-align: right;
    float: left; }
  .input-container fieldset .placeholder {
    color: #cccccc;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px; }
  .input-container fieldset.spinner button, .input-container fieldset.spinner .create-success .button, .create-success .input-container fieldset.spinner .button {
    width: 21%;
    float: right;
    margin: 0;
    padding: 0;
    border: 1px solid #339966;
    background: #339966;
    color: white;
    font-size: 16px;
    line-height: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .input-container fieldset.spinner button:active, .input-container fieldset.spinner .create-success .button:active, .create-success .input-container fieldset.spinner .button:active {
      background: #006633;
      border-color: #006633; }
    .input-container fieldset.spinner button:first-child, .input-container fieldset.spinner .create-success .button:first-child, .create-success .input-container fieldset.spinner .button:first-child {
      border-bottom: 1px solid whitesmoke; }
  .input-container fieldset .preview-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%; }

button, .create-success .button {
  box-sizing: content-box;
  padding: 2px 10px;
  line-height: 32px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#f5f5f5, #eeeeee);
  background: -moz-linear-gradient(#f5f5f5, #eeeeee);
  background: -o-linear-gradient(#f5f5f5, #eeeeee);
  background: linear-gradient(#f5f5f5, #eeeeee);
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: black; }
  button:active, .create-success .button:active {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(#eeeeee, #f5f5f5);
    background: -moz-linear-gradient(#eeeeee, #f5f5f5);
    background: -o-linear-gradient(#eeeeee, #f5f5f5);
    background: linear-gradient(#eeeeee, #f5f5f5); }
  button i + span, .create-success .button i + span {
    margin-left: 10px; }

.error-message {
  color: #f00;
  display: none; }

.error .error-message {
  display: block; }

.countdown {
  display: block;
  width: 100%;
  text-align: center;
  color: #003333;
  font-family: "Electrolize", sans-serif; }
  .countdown .info-unit {
    width: 100%;
    color: inherit;
    max-width: 600px;
    margin: 10px auto 20px auto;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: inherit; }
  .countdown .cd-unit {
    display: inline-block;
    width: auto;
    padding: 0 0.5%;
    min-width: 13%; }
    .countdown .cd-unit.large {
      padding: 0 0.5% 0 0;
      width: auto;
      min-width: 110px;
      max-width: 208px; }
  .countdown .cd-number {
    display: block;
    font-size: 76px;
    color: inherit;
    font-family: inherit;
    text-align: center; }
  .countdown .cd-label {
    display: block;
    color: inherit;
    font-family: inherit;
    text-align: center;
    font-size: 24px; }

.create-success h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 50px; }
.create-success .button {
  display: inline-block;
  font-size: 24px;
  line-height: auto;
  padding: 16px; }
.create-success .copy-url {
  display: block;
  margin-top: 50px;
  font-size: 16px; }
  .create-success .copy-url input {
    width: 60%;
    background: white;
    border: 1px solid #339966;
    height: 20px;
    padding: 1%;
    outline: none;
    margin: 1%;
    font-size: 16px; }

@media screen and (max-width: 767px) {
  .header {
    height: 72px;
    margin: 0; }
    .header h1 {
      float: none;
      width: 100%;
      text-align: left;
      line-height: 36px; }

  .nav-primary ul {
    width: 100%; }
    .nav-primary ul li {
      display: inline-block;
      margin: 0 0 0 15%; }
      .nav-primary ul li a {
        line-height: 36px; }

  .footer {
    position: static; }

  .countdown .cd-unit {
    min-width: 100px; }
    .countdown .cd-unit.large {
      min-width: 100px;
      max-width: 140px; }
  .countdown .info-unit {
    margin: 10px auto 20px auto; }
  .countdown .cd-number {
    font-size: 50px; }

  .input-container input {
    display: block;
    width: 94%;
    background: white;
    border: 1px solid #339966;
    height: 26px;
    padding: 2%;
    outline: none;
    margin: 1%; }
  .input-container fieldset input {
    float: none;
    width: 84%;
    padding: 8%;
    margin: -2px 0;
    text-align: right;
    border-top: none;
    border-bottom: none;
    font-size: 16px; }
  .input-container fieldset .placeholder {
    color: #cccccc;
    margin-top: -6px;
    position: absolute;
    font-size: 12px; }
  .input-container fieldset.spinner button, .input-container fieldset.spinner .create-success .button, .create-success .input-container fieldset.spinner .button {
    width: 100%;
    padding: 0;
    float: none;
    border: 1px solid #339966;
    background: #339966;
    color: white;
    font-size: 16px;
    line-height: 36px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .input-container fieldset.spinner button:active, .input-container fieldset.spinner .create-success .button:active, .create-success .input-container fieldset.spinner .button:active {
      background: #006633;
      border-color: #006633; }
    .input-container fieldset.spinner button:first-child, .input-container fieldset.spinner .create-success .button:first-child, .create-success .input-container fieldset.spinner .button:first-child {
      border-bottom: 1px solid #339966; }
  .input-container fieldset .preview-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%; }

  .create-success h2 {
    font-size: 24px;
    margin-bottom: 30px; }
  .create-success .button {
    font-size: 18px;
    padding: 10px; } }
@media screen and (max-width: 480px) {
  .main-content {
    width: 96%;
    margin-bottom: 20px; }

  .countdown .cd-unit {
    min-width: 0;
    width: 100%;
    display: block;
    padding: 0; }
    .countdown .cd-unit.large {
      width: 100%;
      min-width: 0;
      max-width: none;
      padding: 0; }
  .countdown .cd-number {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    font-size: 50px;
    text-align: right;
    margin: 0 6% 0 0; }
  .countdown .cd-label {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    text-align: left; }

  .nav-secondary {
    margin: 14px auto; }

  .create-success .copy-url {
    margin-top: 30px;
    font-size: 14px; }
    .create-success .copy-url input {
      display: block;
      width: 96%;
      height: 16px;
      font-size: 14px; } }
@media screen and (max-width: 319px) {
  .header {
    height: 72px;
    margin: 0; }
    .header h1 {
      font-size: 16px; }

  .nav-primary ul li {
    margin: 0 0 0 10%; } }
